* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Consolas';
}
li {
    list-style:none;
}
/*** ***/
.textfield, .edit, .delete, .add-input, .add-button{
    outline: 0;
    outline-offset: 0;
    border:none;
    background: none;
}
/*** ***/
.wrap {
    width:500px;
    margin:50px auto;
    box-shadow:rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
    border-radius:10px;
}
header {
    border-radius:10px 10px 0 0;
    justify-content:center;
    background-image: linear-gradient(to right, #ce9dd3, #b8adea, #9ebdf8, #86cbfb, #79d8f6, #6ddff1, #6ae4e7, #71e9da, #69eccd, #6aedbc, #74eea8, #83ee91);
    color:white;
}
h1{
    text-shadow:1px 1px 1px  rgba(0,0,0,.5),
    -1px -1px 1px  rgba(0,0,0,.2);
}
header, .todo-item, .todo-form {
    width:100%;
    height:70px;
    display:flex;
    align-items:center;
    padding:0 15px;
}
.todo-item{
    border-bottom:1px solid #E0E0E0;
}
.checkbox, .textfield, .edit, .delete, .add-input, .add-button {
    margin:0 10px;
    color:#546E7A;
    font-size:11pt;
}
.task-done{
    text-decoration: line-through;
}
.edit, .delete, .add-button {
    text-transform:capitalize;
}
.textfield {
    padding: 5px 0;
}
.edit, .delete, .add-button {
    padding:5px 10px;
    border:1px solid #546E7A;
    border-radius:5px;
}
.edit:hover, .delete:hover, .add-button:hover {
    background-color: #CFD8DC;
}
.textfield{
    flex-grow:1;
}
.textfield:focus{
    border-bottom:1px solid #546E7A;
}
.todo-form {
    border-radius:0 0 10px 10px;
}
.add-input{
    flex-grow:1;
    box-shadow:inset 0 0 3px rgba(0,0,0,0.6);
    padding:5px 10px;
    border-radius:5px;
}